<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138774172-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138774172-1');
  </script>

    <%- partial('_partial/loading') %>
    <script>setLoadingBarProgress(20)</script>
    <%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
    <script>setLoadingBarProgress(40);</script>
    <div class="l_body">
    <div class='container clearfix'>
        <div class='l_main'>
            <%- body %>
        </div>
        <aside class='l_side'>
            <%- partial('_partial/side') %>
        </aside>
        <script>setLoadingBarProgress(60);</script>
    </div>
    <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <script>setLoadingBarProgress(80);</script>
    <%- partial('_partial/scripts') %>
    <script>setLoadingBarProgress(100);</script>
</body>
</html>
